*{
    background-color: rgb(38, 38, 38);
}


h1{
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}
h2{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "XROT" 0,
    "YROT" 0;
    color: rgb(0, 160, 29);
}