.header{
    background-color: #f1f1f1;
    padding: 2rem;
    display: grid;
    position: sticky;
    top: 0;
    z-index: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo nav";
    .logo{
        grid-area: logo;
    }
    nav{
        grid-area: nav;
        display: flex;
        justify-content: flex-end;
        ul{
            display: flex;
            align-items: center;
            gap: 2rem;
        }
    }
}

.hero{
    background-color: #000;
    color: #fff;
    padding: 5rem;
    text-align: center;
    display: grid;
    grid-template-areas: "title" "subtitle";
    justify-content: center;
    align-items: center;
    height: 40rem;
    h1{
        margin-bottom: 2rem;
        grid-area: title;
    }
    p{
        font-size: 2rem;
        grid-area: subtitle;
    }
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    grid-template-areas: "card1 card2 card3" "card4 card5 card6";
    margin: 5rem 0;
    padding: 0 2rem;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "card1 card2" "card3 card4" "card5 card6";
    }
    @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6";
        }

    .card{
        border-radius: 0.5rem;
        background-color: #d4d4d4;
        padding: 2rem;
        text-align: center;
        transition: .5s;
        &:hover{
            transform: scale(1.05);
        }
        h2{
            margin-bottom: 2rem;
        }
        p{
            color: #666;
        }
        img{
            width: 100%;
            border-radius: 0.5rem;
        }
    }
    .card1{
        grid-area: card1;
    }
    .card2{
        grid-area: card2;
    }
    .card3{
        grid-area: card3;
    }
    .card4{
        grid-area: card4;
    }
    .card5{
        grid-area: card5;
    }
    .card6{
        grid-area: card6;
    }
}



.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "copyright";
    .footer-content{
        grid-area: copyright;
    }
}