@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Montserrat", sans-serif;;
    src: url(../fonts/Jacquard_24\,Montserrat\,Roboto/);
}

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
    color: white;
}

body{
    margin: 40px;
    font-family: "Montserrat", sans-serif;
}

.seletor-adjacente h1 + p{           /* PRIMERO p em seguida do h1 */
    background-color: red;
}
.seletor-adjacente ul + p + p{
    background-color: red;
}



.seletor-irmao h1 ~ p{              /* TODOS os p's em seguida do primero h1 */
    background-color: red;
}

.seletor-irmao li ~ li ~ li{
    list-style:lower-alpha;
}


