@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
    color: white;
}

body{
    margin: 40px;
    font-family: Montserrat;
}

.seletor-adjacente h1 + p{           /* PRIMERO p em seguida do h1 */
    background-color: blueviolet;
}
.seletor-adjacente ul + p + p{
    background-color:blueviolet;
}



.seletor-irmao h1 ~ p{              /* TODOS os p's em seguida do primero h1 */
    background-color:brown;
}

.seletor-irmao li ~ li ~ li{
    list-style:lower-alpha;
    border: 1px solid white;
    margin: 0px 1300px 0px 0px;
}



.seletor-de-filhos-diretos > p{
    background-color: blue;
}

.seletor-de-filhos-diretos > li{
    background-color: blue;
}