@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html{
    font-size: 62.5%;
}

body{
    margin: 1rem;
}

h1{
    font-size: 3.2rem;
    min-height: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2.4rem;
    &:nth-child(2){
        text-align: center;
    }
}

.container{
    margin: 2rem auto;
    text-align: center;
}

.box{
    border: 1px solid #333;
    background-color: #bbbbbb;
    min-height: 5rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: #909090;
    }
}

.grid-container{
    display: grid;
}

.ex-01{
    grid-template-columns: 5rem 7rem 12rem 10rem;
}

.ex-02{
    grid-template-columns: 20% 30% 30% 20%;
}

.ex-03{
    grid-template-columns: 1fr 2fr 1fr 3fr;
}

.ex-04{
    grid-template-columns: repeat(3, 1fr) 10rem;
}

.ex-05{
    grid-template-columns: minmax(100px, 1fr) 2fr 2fr 2fr;
}

.ex-06{
    grid-template-columns: repeat(4, minmax(100px, 200px));
}

.ex-07{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.ex-08{
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.ex-09{
    grid-template-rows: 20px 40px 60px 580px;
}