@font-face {
    font-family: font;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    color: white;
    font-family: font;
    margin: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.box:nth-child(1) p::first-line{
    background-color: violet;
}
.box:nth-child(1) p::selection{
    background-color:brown;
}



.box:nth-child(2){
    width: 400px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.27);
    border: 1px solid white;
    text-align: center;
    padding: 20px;
}
.box:nth-child(2)::after{
    content: "::after";
    background-color: rgba(255, 255, 255, 0.399);
    padding: 10px;
}



.box:nth-child(3){
    width: 400px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.27);
    border: 1px solid white;
    text-align: center;
    padding: 20px;
}
.box:nth-child(3)::before{
    content: "::before";
    background-color: rgba(255, 255, 255, 0.399);
    padding: 10px;
}