@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.container-float{
    background-color:cadetblue;
    h1{
        text-align: center;
    }
    .box-float{
        width: 200px;
        height: 150px;
        background-color: #ccc;
        margin: 10px;
        display: block;
        float:left;
    }
    h2{
        clear: both;
    }
}

.container-flex{
    width: 80%;
    min-height: 600px;
    margin: 30px auto;
    border: 1px solid #ccc;
    background-color: cadetblue;
    h1{
        text-align: center;
    }
    .boxes-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        .box-flex{
            width: 200px;
            height: 200px;
            background-color: #ccc;
            margin: 20px;
            transition: .5s;
        }
        .box-flex:hover{
            transform: scale(1.1);
        }
    }
}