@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Montserrat;
    h1{
        color: white;
        text-align: center;
    }
}

.menu-principal{
    width: 100%;
    display: flex;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: .5s;
    ul, li{
        display: flex;
        gap: 10px;
        a{
            border: 3px solid white;
            font-weight: 700;
            padding: 5px;
            border-radius: 10px;
            color: white;
            transition: .5s;
        }
        a:hover{
            transform: scale(1.1);
        }
    }
}

.container-float{
    background-color:cadetblue;
    margin: 120px 30px 0px;
    border: 2px solid black;
    h1{
        text-align: center;
    }
    .box-float{
        width: 200px;
        height: 150px;
        background-color: #ccc;
        margin: 10px;
        display: block;
        float:left;
    }
    h2{
        clear: both;
        color: white;
    }
}

.container-flex{
    width: 80%;
    height: auto;
    margin: 30px auto;
    border: 2px solid rgb(38, 65, 66);
    background-color: cadetblue;
    h1{
        text-align: center;
    }
    .boxes-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;

        .box-flex{
            width: 200px;
            height: 200px;
            background-color: #ccc;
            margin: 20px;
            transition: .5s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

.container-align{
    width: 80%;
    min-height: 80vh;
    margin: 30px auto;
    border: 2px solid rgb(38, 65, 66);
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    .boxes-align{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        .box-align{
            width: 200px;
            height: 200px;
            background-color: #ccc;
            margin: 20px;
        }
    }
}

.container-grow{
    width: 80%;
    min-height: 80vh;
    margin: 30px auto;
    border: 2px solid rgb(38, 65, 66);
    background-color: cadetblue;
    h1{
        text-align: center;
    }
    .boxes-grow:nth-child(2){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .box{
            width: 200px;
            height: 250px;
            background-color: #ccc;
            margin: 20px;
            padding: 10px;
        }
        .box-1{                     /* flex-grow => baseado no espaço disponível */
            flex-grow: 0;           /* flex-basis: 173,734px; */
        }
        .box-2{
            flex-grow: 1;           /* flex-basis: 200px; */
        }
        .box-3{
            flex-grow: 2;           /* flex-basis: 347,453px; */
        }
    }
    .boxes-grow:nth-child(3){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
        row-gap: 20px;
        column-gap: 20px;
        .box{
            width: 200px;
            height: 250px;
            background-color: #ccc;
            padding: 10px;
        }
        .box-1{
            order: 2;
        }
        .box-2{
            order: 3;
        }
        .box-3{
            order: 1;
        }
    }
}

.container-position{
    margin: 30px auto;
    width: 80%;
    min-height: 80vh;
    background-color: cadetblue;
    border: 2px solid black;
    position: relative;                 /* relative: se posiciona de acordo com a div que ele está */
    .menu{
        width: 80%;
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        background-color: blue;
        position: absolute;             /* absolute: se posiciona de acordo com o pai */
        top: -20px;
        left: -50px;
        transition: .5s;
        ul, li{
            display: flex;
            gap: 10px;
            a{
                padding: 5px;
                background-color: #ccc;
                color: black;
                border-radius: 10px;
                transition: .5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        &:hover{
            transform: scale(1.1);
        }
    }

    .box{
        width: 250px;
        height: 250px;
        border: 2px solid black;
        background-color: #ccc;
    }

    .box-position:nth-child(2){
        margin-top: 80px;
        position: relative;
        left: 30px;
        transition: .5s;
        &:hover{
            z-index: 1;
            left: 60px;
        }
    }

    .box-position:nth-child(3){
        position: relative;
        left: 80px;
        top: -80px;
        transition: .5s;
        &:hover{
            z-index: 1;
            left: 110px;
        }
    }

    .box-position:nth-child(4){
        position: relative;
        left: 160px;
        top: -160px;
        transition: .5s;
        &:hover{
            z-index: 1;
            left: 190px;
        }
    }
}